@use 'styles/colors';

.container {
  max-width: 80%;
  margin: auto;

  .form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      padding: 10px;
      width: 100%;
      display: flex;
      flex-grow: 1;
      margin-right: 2px;
      flex-grow: 1;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: colors.$primary;
    padding-right: 15px;
    cursor: pointer;

    a {
      padding: 12px 0 12px 20px;
      color: colors.$white;
      text-transform: uppercase;
      padding-right: 5px;
    }

    img {
      color: colors.$white;
      filter: brightness(0) invert(1);
    }
  }

  .message {
    color: colors.$white-light;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
}
