@use 'styles/colors';

.footer {
  background-color: colors.$dark-background-light;
  width: 100%;
  color: colors.$gray-darker;
  padding: 40px 0;

  .footerInner {
    max-width: 50vw;
    margin: auto;

    .footerTitle {
      margin-bottom: 30px;
    }

    a {
      color: colors.$gray-darker;

      &:hover {
        text-decoration: underline;
      }
    }

    .footerLinks {
      display: flex;
      flex-wrap: wrap;
      line-height: 40px;
      font-size: 13px;

      .footerLinkItem {
        width: 25%;

        .footerLink {
          color: colors.$gray-darker;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .language {
      margin: 30px 30px 0 0;
      background-color: colors.$secondary;
      border: 1px solid colors.$gray-darker;
      color: colors.$gray-darker;
      font-size: 13px;
      padding: 10px;
    }
  }
}