@use 'styles/colors';

.genreContainer {
  // position: relative;
  margin: 30px 0;
  padding: 0 40px;

  .genreTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    text-transform: capitalize;
    color: colors.$grey-light;
    margin-bottom: 12px;

    &:hover {
      cursor: pointer;
      color: colors.$white;
    }

    img {
      filter: brightness(0) invert(1);
    }
  }

  .genreList {
    display: flex;
    gap: 10px;
    // position: absolute;
    // top: -25px;
  }
}
