// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

$white: #FFF;
$white-light: #E5E5E5;
$primary: #E50914;
$primary-light: #9D0D0D;
$secondary: #000;
$secondary-light: rgb(39, 38, 38);

$divider: #303030;
$gray-darker: #757575;
$gray-dark: #8c8c8c;
$gray-light: #b3b3b3;
$gray-light-background: rgba($color: black, $alpha: 0.7);

$blue-light: #0071eb;