// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

$white: #FFF;
$white-light: #E5E5E5;

$primary: #E50914;
$primary-light: #9D0D0D;

$secondary: #141414;
$secondary-light: rgb(39, 38, 38);

$background-light: rgba($color: black, $alpha: 0.7);

$divider: #303030;

$grey-light: #b3b3b3;
$grey: #808080;
$grey-darker: #757575;
$grey-dark: #8c8c8c;

$blue-light: #0071eb;

$green: #46d369