@use 'styles/colors';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 92vw;
  margin: auto;
  padding-top: 30px;

  .logo {
    height: 32px;
    width: 108px;
    text-transform: uppercase;
    color: colors.$primary;
    font-size: 50px;
    margin-right: auto;

    .svg-icon {
      color: colors.$primary;
    }
  }
}
