@use 'styles/colors';

.item {
  .header {
    margin: 5px 0;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$secondary-light;
    cursor: pointer;
    user-select: none;

    img {
      filter: brightness(0) invert(1);
      width: 14px;

      @media (min-width: 600px) {
        width: 16px;
      }
    }
  }

  .title {
    font-size: 15px;
    line-height: 1.1;
    text-align: center;

    @media (min-width: 600px) {
      font-size: 20px;
    }
  }

  .body {
    background-color: colors.$secondary-light;
    padding: 25px;
    white-space: pre-wrap;
    line-height: 1.6;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  }
}
